src/src/flows/Assessment_Screen.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_The_Assessment_Values_to_Contact_Record</name>
        <label>Assign The Assessment Values to Contact Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_0.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_0.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_0.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_0.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_0.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Is_Your_Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_0.Present_Staying_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Is_Your_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_0.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Update</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>PicklistChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Answer_Text__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Answer_Text__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Male</stringValue>
            </value>
        </filters>
        <filters>
            <field>Answer_Text__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </filters>
        <object>Responses__c</object>
        <valueField>Answer_Text__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RadioButtonValues</name>
        <dataType>String</dataType>
        <displayField>Answer_Text__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Answer_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Male</stringValue>
            </value>
        </filters>
        <filters>
            <field>Answer_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </filters>
        <object>Responses__c</object>
        <valueField>Answer_Text__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Assessment Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record_0</name>
        <label>Get Contact Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assesment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>Get_Contact_Record_0</inputReference>
    </recordUpdates>
    <screens>
        <name>Assesment</name>
        <label>Assesment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_The_Assessment_Values_to_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What Is Your Name ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_Of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>What Is Your Date Of Birth ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What Is Your Phone Number ?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_Is_Your_Gender</name>
            <choiceReferences>RadioButtonValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Is Your Gender ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_Is_Your_City</name>
            <choiceReferences>PicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Is Your City ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Enter Your Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
