src/src/flows/Before_Delete.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Case_Exists</name>
        <label>Case Exists</label>
        <locationX>650</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Archieved_As_True_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_The_Case_Records_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>We Deleting The Contact Related records based On Archieved  As TRUE And then we can delete Contact by our own from admin org</description>
    <interviewLabel>Before Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_The_Case_Records_0</name>
        <label>Delete The Case Records</label>
        <locationX>400</locationX>
        <locationY>511</locationY>
        <inputReference>Get_Archieved_As_True_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Archieved_As_True_Records</name>
        <label>Get Archieved As True Records</label>
        <locationX>656</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>81</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>Get_Archieved_As_True_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Archieved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
