src/src/flows/Case_Creation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Case_Properties</name>
        <label>Assign Case Properties</label>
        <locationX>1032</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>CasesIndividualRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Contacts.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesIndividualRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesIndividualRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Dummy_Case_To_Case_Tray_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dummy_Case_To_Case_Tray_Collection</name>
        <label>Assign Dummy Case To Case Tray Collection</label>
        <locationX>956</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>CasesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CasesIndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Contacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Case Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Flow</label>
    <loops>
        <name>Loop_On_Contacts</name>
        <label>Loop On Contacts</label>
        <locationX>848</locationX>
        <locationY>142</locationY>
        <collectionReference>Get_Contacts_From_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Properties</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cases_from_Case_tray_or_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cases_from_Case_tray_or_Collection</name>
        <label>Create Cases from Case tray or Collection</label>
        <locationX>680</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Case</targetReference>
        </faultConnector>
        <inputReference>CasesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts_From_Account</name>
        <label>Get Contacts From Account</label>
        <locationX>536</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>663</locationX>
        <locationY>208</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_On_Contacts</targetReference>
        </connector>
        <fields>
            <name>Create</name>
            <fieldText>&lt;p&gt; Click Button To Create &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(187, 20, 205);&quot;&gt;{!AccountRecord.Name}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Related &lt;/span&gt;Cases&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>New Related Cases</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>73</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Get_Contacts_From_Account</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Variable to get Account Data from Account Record Page into flow.</description>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CasesIndividualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
