src/src/flows/Count_OF_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Variables</name>
        <label>Assign Contact Variables</label>
        <locationX>424</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>New_Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Flow Testing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contact.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Contact.ACCOUNT_NUMBER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KVB14291</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_List</name>
        <label>Contact List</label>
        <locationX>419</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>New_Contact_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtract_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Count</name>
        <label>Subtract Count</label>
        <locationX>732</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>CountNumber</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Number</name>
        <label>Count Number</label>
        <locationX>571</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Length_Is_Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Variables</targetReference>
            </connector>
            <label>Length Is Ok</label>
        </rules>
        <rules>
            <name>Length_Is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contacts</targetReference>
            </connector>
            <label>Length Is Zero</label>
        </rules>
    </decisions>
    <interviewLabel>Count OF Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count OF Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>882</locationX>
        <locationY>305</locationY>
        <inputReference>New_Contact_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>575</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CountNumber</assignToReference>
            <field>Count_Of_Contacts__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>New_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>New_Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
