src/src/flows/Opportunity_Line_Item_Product.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignLineItemValues</name>
        <label>AssignLineItemValues</label>
        <locationX>228</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>OppLineItenSchedule.EMI_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnnualFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItenSchedule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual Emi Costs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItenSchedule.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignListValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignListValues</name>
        <label>AssignListValues</label>
        <locationX>226</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>AssignScheduleListValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItenSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtract_Annual_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Annual_Number</name>
        <label>Subtract Annual Number</label>
        <locationX>502</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>AnnualVariablenumber</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_for_Annual</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AnnualNumber</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_for_Annual</name>
        <label>Decision for Annual</label>
        <locationX>494</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AnnualVariablenumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLineItemValues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnnualVariablenumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <formulas>
        <name>AnnualFormula</name>
        <dataType>Currency</dataType>
        <expression>{!GetOppProductRecords.Amount__c}/{!AnnualNumber}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Line Item Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Line Item Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>753</locationX>
        <locationY>307</locationY>
        <inputReference>AssignScheduleListValues</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOppProductRecords</name>
        <label>GetOppProductRecords</label>
        <locationX>499</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_for_Annual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetOppProductRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AnnualVariablenumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AssignScheduleListValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Line_Item_Schedule__c</objectType>
    </variables>
    <variables>
        <name>OppLineItenSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Line_Item_Schedule__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
