src/src/flows/Oppotunity_Billing_Frequency.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>Annual</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Monthly</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Quaterly</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>SemiAnnual</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Billingdecision</name>
        <label>Billingdecision</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>CreateQuaterly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Annuall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAnnaulRecord</targetReference>
            </connector>
            <label>Annuall</label>
        </rules>
        <rules>
            <name>If_Semi_Annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semi Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SemiAnnuall_0</targetReference>
            </connector>
            <label>If Semi Annual</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaforAnnual</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c}/{!Annual}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaforQuaterly</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount__c}/{!Quaterly}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaforSemiannual</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c}/{!SemiAnnual}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Oppotunity Billing Frequency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppotunity Billing Frequency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAnnaulRecord</name>
        <label>CreateAnnaulRecord</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>EMI_Amount__c</field>
            <value>
                <elementReference>formulaforAnnual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Line_Item_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateQuaterly</name>
        <label>CreateQuaterly</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>EMI_Amount__c</field>
            <value>
                <elementReference>FormulaforQuaterly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Quaterlyy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Line_Item_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SemiAnnuall_0</name>
        <label>SemiAnnuall</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>EMI_Amount__c</field>
            <value>
                <elementReference>FormulaforSemiannual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>semiAnnuall</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Line_Item_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Billingdecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Opportunity_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>GetSemiAnnualRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Line_Item_Schedule__c</objectType>
    </variables>
</Flow>
