src/src/flows/QuestionMaster_Testing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_The_Screen_Values</name>
        <label>Assign The Screen Values</label>
        <locationX>460</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_Id.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_Id.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_Id.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_Id.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Is_Your_Date_Of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_Id.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_Id.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Is_Your_Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Record_Id.Present_Staying_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_Select_Your_Staying_City</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Screen_Components</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Picklistchoiceset</name>
        <dataType>String</dataType>
        <displayField>Answer_Text__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Answer_Text__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Male</stringValue>
            </value>
        </filters>
        <filters>
            <field>Answer_Text__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </filters>
        <object>Responses__c</object>
        <valueField>Answer_Text__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RadioChoiceset</name>
        <dataType>String</dataType>
        <displayField>Answer_Text__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Answer_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Male</stringValue>
            </value>
        </filters>
        <filters>
            <field>Answer_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </filters>
        <object>Responses__c</object>
        <valueField>Answer_Text__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Records</name>
        <dataType>String</dataType>
        <displayField>Question_Text__c</displayField>
        <limit>10</limit>
        <object>Question_Master__c</object>
        <valueField>Question_Text__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>QuestionMaster Testing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individual FLow Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record_Id</name>
        <label>Get Contact Record Id</label>
        <locationX>449</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Screen_Components</name>
        <label>Update Screen Components</label>
        <locationX>201</locationX>
        <locationY>348</locationY>
        <inputReference>Get_Contact_Record_Id</inputReference>
    </recordUpdates>
    <screens>
        <name>Birth_Date_Screen</name>
        <label>Birth Date Screen</label>
        <locationX>847</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Phone_Number_Screen</targetReference>
        </connector>
        <fields>
            <name>What_Is_Your_Date_Of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>What Is Your Date Of Birth ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>679</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_The_Screen_Values</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Enter Your Email ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Name_Screen</name>
        <label>Name Screen</label>
        <locationX>662</locationX>
        <locationY>112</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Birth_Date_Screen</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What Is Your Name ?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Phone_Number_Screen</name>
        <label>Phone Number Screen</label>
        <locationX>1027</locationX>
        <locationY>113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Radio_Button_Screen</targetReference>
        </connector>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What Is Your Phone Number ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^[\d]{10,15}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Picklist_Screen</name>
        <label>Picklist Screen</label>
        <locationX>859</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Email_Screen</targetReference>
        </connector>
        <fields>
            <name>Please_Select_Your_Staying_City</name>
            <choiceReferences>Picklistchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select Your Staying City ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Radio_Button_Screen</name>
        <label>Radio Button Screen</label>
        <locationX>1031</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Picklist_Screen</targetReference>
        </connector>
        <fields>
            <name>What_Is_Your_Gender</name>
            <choiceReferences>RadioChoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Is Your Gender ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>9</locationY>
        <connector>
            <targetReference>Get_Contact_Record_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
