src/src/flows/Undelete_the_records_from_Recycle_Bin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Undelete</name>
        <label>Undelete</label>
        <locationX>1177</locationX>
        <locationY>276</locationY>
        <actionName>UndeleteApexclass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>FinalFirst</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>690</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>FinalFirst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RemoveFirstID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_other_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>530</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>textids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Undeleted_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>textids</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_other_Values</name>
        <label>Are there other Values ?</label>
        <locationX>944</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Undelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>textids</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_to_collection</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GetBinRecords</name>
        <dataType>String</dataType>
        <displayField>RecordName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>account</stringValue>
            </value>
        </filters>
        <object>DeleteEvent</object>
        <valueField>RecordName</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FirstID</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!textids}, FIND(“;”,{!textids})-1))</expression>
    </formulas>
    <formulas>
        <name>RemoveFirstID</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!textids},{!FirstID}+”;”&quot;,”)))</expression>
    </formulas>
    <interviewLabel>Undelete the records from Recycle Bin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Undelete the records from Recycle Bin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>GetAccountbinrecords</name>
        <label>GetAccountbinrecords</label>
        <locationX>533</locationX>
        <locationY>102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignValues</targetReference>
        </connector>
        <fields>
            <name>Undeleted_Records</name>
            <choiceReferences>GetBinRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Undeleted Records</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>110</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>GetAccountbinrecords</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>FinalFirst</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Text1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
